{
    "LangPlayRoomId": "7777777",
    "DiscordWebhookLink": "https://discord.com/api/webhooks/802182095518433322/GrdsbJuzkRECbXfdngh1c8mHo1mfM2sWYPY4aT4ZcjlehV7qeovRxCzofRL-XoBlxfLv",
    "OnlineMsg": "@everyone\n統肥開台拉\n還不來看他秀邏輯!\nhttps://play.lang.live/7777777",
    "OfflineMsg": ""
}
